@import '/src/assets/styles/_variables.scss';

.menu {
	background-color: $white;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	> ul {
		border: 1px dashed $light-brown;
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
		justify-content: center;
		padding: 10px;
		a {
			color: $light-black;
			text-decoration: none;
			font-size: 13px;
			font-weight: 500;
			cursor: pointer;
			&:hover {
				color: $accent;
				font-weight: 700;
				transition: all 0.5s ease-out;
			}
			&:not(:hover) {
				transition: all 0.5s ease-out;
			}
		}
	}

	> ul,
	li {
		list-style: none;
		width: 100%;
		text-align: center;
		white-space: nowrap;
	}
}
