@import '/src/assets/styles/_variables.scss';

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	position: fixed;
	z-index: 1;
	.inner_header {
		width: 80%;
		margin: 10px auto 0;
	}
}
