@import '/src/assets/styles/_variables.scss';

.card {
	outline: 1px dashed $light-brown;
	outline-offset: -10px;
	border-radius: 1rem;
	padding: 30px;
	h4 {
		font-family: $accent-font;
		font-size: 25px;
		font-weight: 400;
		line-height: 25px;
		text-align: left;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		text-align: left;
		width: 90%;
	}

	a {
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		text-align: left;
		color: $accent;
		cursor: pointer;
	}

	&.white {
		background-color: $white;
	}
	&.grey {
		background-color: $dark-white;
	}

	&.xl {
		width: 440px;
		height: 285px;
	}

	&.xs {
		max-width: 365px;
	}
}
