@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oranienbaum&display=swap');

$accent: #8e0000;

$white: #ffffff;
$dark-white: #f3f3f3;
$light-white: #c4c4c4;

$black: #000000;
$dirty-black: #1a0f00;
$light-black: #373737;

$dark-grey: #2d2d2d;
$middle-grey: #474747;

$dark-brown: #a3885f;
$light-brown: #d1ad84;

$blue: #4587d9;
$green: #52c12c;

$default-font: 'Montserrat', sans-serif;
$accent-font: 'Oranienbaum', serif;

$mobile: 768px;
