$accent: #8E0000; 

$white: #ffffff;
$dark-white: #F3F3F3;
$light-white: #C4C4C4;

$black: #000000;
$dirty-black: #1A0F00;


$dark-grey: #2D2D2D;
$middle-grey: #474747;


$dark-brown: #A3885F;
$light-brown: #D1AD84;

$blue: #4587D9;
$green: #52C12C;